[Unit]
Description=Chutemaker
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User=chutemaker
Group=chutemaker
WorkingDirectory=/opt/chutemaker/
ExecStart=/usr/bin/python3 chutemaker_webapp.py
Restart=always

[Install]
WantedBy=multi-user.target