[Unit]
Description=Chutemaker
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User=chutemaker
Group=chutemaker
WorkingDirectory=/opt/chutemaker/
ExecStart=docker-compose up --clean-orphanes
ExecStop=docker-compose down
Restart=always

[Install]
WantedBy=multi-user.target