<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="static/css/chutemaker.css" rel="stylesheet" />
</head>

<body class="bg-light">
  <div class="container">
    <main class="row justify-content-center py-3">
      <div class="col-lg-8 col-md-12 col-sm-12 justify-content-center">
        <h4 class="mb-3">Hemispherical Chute</h4>
        <form class="needs-validation" action="/spherical" method="post">
          <div class="row g-3">
            <div class="col-sm-12 col-lg-12">
              <label for="sphericalDiameter" class="form-label">Diameter</label>
              <div class="input-group">
                <input type="number" class="form-control" id="sphericalDiameter" name="diameter" required>
                <div class="input-group-append">
                  <div class="input-group-text">mm</div>
                </div>
                <div class="invalid-feedback">
                  Diameter is required
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-lg-12">
              <label for="sphericalSpillDiameter" class="form-label">Spill hole diameter</label>
              <div class="input-group">
                <input type="number" class="form-control" id="sphericalSpillDiameter" name="spillDiameter" required>
                <div class="input-group-append">
                  <div class="input-group-text">mm</div>
                </div>
                <div class="invalid-feedback">Spill diameter is required</div>
              </div>
            </div>

            <div class="col-12">
              <label for="sphericalExcentricity" class="form-label">Excentricity</label>
              <div class="input-group has-validation">
                <input type="number" class="form-control" id="sphericalExcentricity" name="e" placeholder="" value="0.7" min=0.01 max=0.99 step=0.01
                  required>
                <div class="invalid-feedback">
                  Excentricity is required.
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="numPanels" class="form-label">Number of panels</label>
              <div class="input-group has-validation">
                <input type="number" class="form-control" id="numPanels" name="panels" value="8" min="1">
                <div class="invalid-feedback">
                  Specify the number of panels
                </div>
              </div>
            </div>


            <div class="col-sm-12 col-lg-12">
              <label for="seamAllowance" class="form-label">Seam allowance</label>
              <div class="input-group">
                <input type="number" class="form-control" id="seamAllowance" name="seamAllowance" value="10" required>
                <div class="input-group-append">
                  <div class="input-group-text">mm</div>
                </div>
                <div class="invalid-feedback"></div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="checkTangentLines" name="tangentLines"
                  onchange="document.getElementById('lineLength').disabled = !this.checked;">
                <label class="form-check-label" for="checkTangentLines">Extend skirt for tangent lines</label>
              </div>
            </div>
            <div class="col-12">
              <label for="lineLength" class="form-label">Line Length</label>
              <div class="input-group">
                <input type="number" class="form-control" id="lineLength" name="lineLength" value="" required
                  disabled="true">
                <div class="input-group-append">
                  <div class="input-group-text">mm</div>
                </div>
                <div class="invalid-feedback">
                </div>
              </div>
            </div>

            <hr class="my-4">
            <h5>Output</h5>
            <div class="form-group row">
              <label for="jointStyle" class="col-form-label col-3">Joint style</label>
              <div class="col-9 imradio_selector">
                <div class="row">
                  <div class="col-4 justify-content-center">
                    <input type="radio" id="radioBevel" name="jointStyle" value="selectBevel" />
                    <label for="radioBevel" class="imradio bevel"></label>
                  </div>
                  <div class="col-4">
                    <input type="radio" id="radioNone" name="jointStyle" value="selectNone" />
                    <label for="radioNone" class="imradio none"></label>
                  </div>
                  <div class="col-4">
                    <input type="radio" id="radioMitre" name="jointStyle" value="selectMitre" checked />
                    <label for="radioMitre" class="imradio mitre"></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="typeSelect" id="svg" value="svg"
                  onchange="document.getElementById('tiling').disabled = !this.checked;">
                <label class="form-check-label" for="svg">SVG</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="typeSelect" id="pdf" value="pdf" checked>
                <label class="form-check-label" for="pdf">PDF</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="grid" id="grid">
                <label class="form-check-label" for="grid">Enable grid</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="tiling" id="tiling" data-bs-toggle="collapse"
                  data-bs-target="#coltil">
                <label class="form-check-label" for="tiling">Enable Tiling</label>
              </div>
            </div>
            <div class="collapse mb-3" id="coltil">
              <div class="col-12 mb-3">
                <label for="paperSize" class="form-label">Paper Size</label>
                <select class="form-select" aria-label="Paper Size" id="paperSize" name="paperSize">
                  <option value="4A0">4A0</option>
                  <option value="2A0">2A0</option>
                  <option value="A0">A0</option>
                  <option value="A1">A1</option>
                  <option value="A2">A2</option>
                  <option value="A3">A3</option>
                  <option value="A4" selected>A4</option>
                  <option value="A5">A5</option>
                  <option value="A6">A6</option>
                  <option value="A7">A7</option>
                  <option value="A8">A8</option>
                  <option value="A9">A9</option>
                  <option value="A10">A10</option>
                </select>
              </div>
              <div class="input-group col-12 mb-3">
                <label for="paperMargin" class="form-label">Margin</label>
                <div class="input-group">
                  <input type="number" class="form-control" id="paperMargin" name="paperMargin" value="10" required>
                  <div class="input-group-append">
                    <div class="input-group-text">mm</div>
                  </div>
                  <div class="invalid-feedback">
                  </div>
                </div>
              </div>
              <div class="input-group col-12 mb-3">
                <label for="paperOverlap" class="form-label">Overlap</label>
                <div class="input-group">
                  <input type="number" class="form-control" id="paperOverlap" name="paperOverlap" value="10" required>
                  <div class="input-group-append">
                    <div class="input-group-text">mm</div>
                  </div>
                  <div class="invalid-feedback">
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4">
              <!-- Prevent implicit submission of the form -->
            <button type="submit" disabled style="display: none" aria-hidden="true"></button>
            <!-- ... -->
            <button class="w-100 btn btn-primary btn-lg" type="submit">Generate Pattern</button>
        </form>
      </div>
    </main>
  </div>
  <script src="static/js/jquery-3.6.0.min.js" type="text/javascript"></script>
  <script src="static/js/chutemaker.js" type="text/javascript"></script>
  <script src="static/js/bootstrap.min.js" type="text/javascript"></script>
</body>

</html>