<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/css/chutemaker.css" rel="stylesheet" />
</head>

<body class="bg-light">
    <div class="container">
        <h1>Chutemaker</h1>
        <p class="lead">Generate gore/panel cutting patterns for hemispherical and toroidal parachutes.</p>
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
                <div class="card box-shadow h-100">
                    <img class="card-img-top" src="static/toroidal_chute.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Toroidal Parachute</h4>
                        <p class="card-text">The donut shaped toroidal parachute has a very high drag coefficient
                            but is more difficult to build and requires more lines than the hemisperhical
                            parachute.</p>
                        <a href="/t" class="btn btn-sm btn-outline-secondary stretched-link">Select</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
                <div class="card box-shadow h-100">
                    <img class="card-img-top" src="static/spherical_chute.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Hemispherical Parachute</h4>
                        <p class="card-text">The classic hemisperhical parachute has the shape of an ellipsoid. It
                            offers a good drag coefficient and is rather easy to build</p>
                        <a href="/h" class="btn btn-sm btn-outline-secondary stretched-link">Select</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-light text-center text-lg-start fixed-bottom">
        <!-- Copyright Footer -->
        <div class="text-center p-3">
          &copy; 2022 Copyright: Thomas Schmid
        </div>
        <!-- Copyright Footer-->
      </footer>
</body>

</html>